@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden;}

* {
    visibility: hidden;
}

.userscript-hpHandout{
    position:fixed;
    top:0px;
    left:0px;
    visibility: visible;
}

.userscript-hpHandout.userscript-name{
    display:none;
}

.userscript-hpHandout.userscript-cast4, .userscript-hpHandout.userscript-cast5{
    --barwidth: 436px;
    --barheight: 38px;
}

.userscript-hpHandout *{
    visibility: visible;
}

.userscript-hpBarMax{
    width: var(--barwidth) !important;
    height: var(--barheight) !important;
    visibility: hidden;
}

.userscript-hpBarFlex{
    background: linear-gradient(90deg, rgba(38,14,2,0.1) 0%, rgba(40,17,2,0) 20%, rgba(201,173,14,0) 80%, rgba(201,173,14,0.1) 100%), linear-gradient(0deg, rgba(100,0,0,1) 0%, rgba(225,0,0,1) 100%) !important;
    opacity:0.42;
}
.userscript-hpBarFlex.userscript-dec, .userscript-hpBarFlex.userscript-inc{
    animation: 0.5s attention 2, 0.5s attention 2s 2;
}
.userscript-hpBarPush.userscript-dec{
  animation: 3s hpDec ease-in-out;
}
.userscript-hpBarPush.userscript-inc{
  animation: 3s hpInc ease-in-out;
}
@keyframes hpDec {
    0% {width: 440px}
    100% {width:0px}
}
@keyframes hpInc {
    0% {width:0px}
    100% {width: 440px}
}
@keyframes attention{
    0%{box-shadow: 0px 0px 0px 0px gold;}
    50%{box-shadow: 0px 0px 25px 5px gold; opacity:0.55;}
    100%{box-shadow: 0px 0px 0px 0px gold;}
}
.userscript-dmgfloat{
    animation: 4.5s dmgfloatup 0.5s ease-out;
    font-family: 'Slabo 27px', serif !important;
    line-height: 0px;
    transform-origin: 85% 0%;
    text-shadow: 0px 0px 3px rgba(255, 217, 0, .5);
}
@keyframes dmgfloatup {
    0% {
        opacity:1;
        transform: translateY(-12px) scale(0.7);
    }
    50%{
        opacity:0.8;
    }
    100% {
        opacity:0;
        transform: translateY(-65px) scale(1);
    }
}
.userscript-dmgfloat.userscript-dec{
    color: darkred;
    /*-webkit-text-stroke: 1px gold;*/
}
.userscript-dmgfloat.userscript-inc{
    color:green;
    /*-webkit-text-stroke: 1px gold;*/
}

.userscript-hpHandout.userscript-cast4 .userscript-hpBarMax.userscript-pc1, .userscript-hpHandout.userscript-cast5 .userscript-hpBarMax.userscript-pc1{
    position: fixed;
    top: 398px;
    left:512px;
}

.userscript-hpHandout.userscript-cast4 .userscript-hpBarMax.userscript-pc2, .userscript-hpHandout.userscript-cast5 .userscript-hpBarMax.userscript-pc2{
    position: fixed;
    top: 398px;
    left:962px;
}

.userscript-hpHandout.userscript-cast4 .userscript-hpBarMax.userscript-pc3, .userscript-hpHandout.userscript-cast5 .userscript-hpBarMax.userscript-pc3{
    position: fixed;
    top: 398px;
    left:1412px;
}