@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/*---------------------*/
/*------VARIABLES------*/
/*---------------------*/
.userscript-infoHandout{
    font-family: 'Slabo 27px', serif !important;
    --fontDefault: 'Slabo 27px', serif !important;
}
/*CAST of 4 & 5 PLAYERS*/
.userscript-infoHandout.userscript-cast4, .userscript-infoHandout.userscript-cast5{
    /*BARS*/
    /*bar size*/
    --barwidth: 436px;
    --barheight: 38px;
    /*bar position*/
    --barPosTopMain: 398px;
    --barPosTopBottom: 898px;
    --barPosLeftGM: 64px;
    --barPosLeftPC1: 512px;
    --barPosLeftPC2: 962px;
    --barPosLeftPC3: 1412px;
    --barPosLeftPC4: 1412px;
    /*INIT BORDERS*/
    /*border size*/
    --initBoxWidth: 448px;
    --initBoxHeight: 249px;
    /*border position*/
    --initPosTopMain: 145px;
    --initPosTopBottom: 545px;
    --initPosLeftGM: 56px;
    --initPosLeftPC1: 507px;
    --initPosLeftPC2: 956px;
    --initPosLeftPC3: 1406px;
    --initPosLeftPC4: 1406px;
    /*deathsaves*/
    /*dice floats*/
    --slow: 1.0;
    --med: 0.7;
    --fast: 0.5;
    --veryfast: 0.4;
    /*deathfilter*/
    --bgDead: rgba(255, 237, 237,0.15);
    --shadowDead: inset  0px 0px 150px 50px rgba(8, 0, 0, 1);
    --bgKO: rgba(144, 0, 0,0.15);
    --shadowKO: inset  0px 0px 150px 10px rgba(112, 0, 0, 1);
}
.userscript-infoHandout.userscript-cast4{
    /*DICE BOX*/
    --diceBoxTop:448px;
    --diceBoxLeft:1406px;
    --diceBoxWidth:var(--initBoxWidth);
    --diceBoxHeight:545px;
}

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden;}

* {
    visibility: hidden;
}

.userscript-infoHandout{
    position:fixed;
    top:0px;
    left:0px;
    visibility: visible;
}

.userscript-infoHandout>.userscript-name{
    display: none !important;
}

.userscript-infoHandout *{
    visibility: visible;
}

.userscript-infoHandout .userscript-hpBarMax{
    width: var(--barwidth) !important;
    height: var(--barheight) !important;
    visibility: hidden;
}

.userscript-hpBarFlex{
    background: linear-gradient(90deg, rgba(38,14,2,0.1) 0%, rgba(40,17,2,0) 20%, rgba(201,173,14,0) 80%, rgba(201,173,14,0.1) 100%), linear-gradient(0deg, rgba(100,0,0,1) 0%, rgba(225,0,0,1) 100%) !important;
    opacity:0.42;
}
.userscript-hpBarFlex.userscript-dec, .userscript-hpBarFlex.userscript-inc{
    animation: 0.5s attention 2, 0.5s attention 2s 2;
}
@keyframes attention{
    0%{box-shadow: 0px 0px 0px 0px gold;}
    50%{box-shadow: 0px 0px 25px 5px gold; opacity:0.55;}
    100%{box-shadow: 0px 0px 0px 0px gold;}
}

.userscript-hpBarPush.userscript-dec{
  animation: 3s hpDec ease-in-out;
}
.userscript-hpBarPush.userscript-inc{
  animation: 3s hpInc ease-in-out;
}
@keyframes hpDec {
    0% {width: 440px}
    100% {width:0px}
}
@keyframes hpInc {
    0% {width:0px}
    100% {width: 440px}
}

.userscript-dmgfloat{
    animation: 4.5s dmgfloatup 0.5s ease-out;
    line-height: 0px;
    transform-origin: 85% 0%;
    text-shadow: 0px 0px 3px rgba(255, 217, 0, .5);
}
@keyframes dmgfloatup {
    0% {
        opacity:1;
        transform: translateY(-12px) scale(0.7);
    }
    50%{
        opacity:0.8;
    }
    100% {
        opacity:0;
        transform: translateY(-65px) scale(1);
    }
}
.userscript-dmgfloat.userscript-dec{
    color: darkred;
}
.userscript-dmgfloat.userscript-inc{
    color:green;
}

.userscript-infoHandout .userscript-hpBarMax.userscript-player0, .userscript-infoHandout .userscript-hpBarMax.userscript-player0{
    position: fixed;
    top: var(--barPosTopMain);
    left: var(--barPosLeftGM);
}

.userscript-infoHandout .userscript-hpBarMax.userscript-player1, .userscript-infoHandout .userscript-hpBarMax.userscript-player1{
    position: fixed;
    top: var(--barPosTopMain);
    left: var(--barPosLeftPC1);
}

.userscript-infoHandout .userscript-hpBarMax.userscript-player2, .userscript-infoHandout .userscript-hpBarMax.userscript-player2{
    position: fixed;
    top: var(--barPosTopMain);
    left: var(--barPosLeftPC2);
}

.userscript-infoHandout .userscript-hpBarMax.userscript-player3, .userscript-infoHandout .userscript-hpBarMax.userscript-player3{
    position: fixed;
    top: var(--barPosTopMain);
    left: var(--barPosLeftPC3);
}

.userscript-infoHandout .userscript-hpBarMax.userscript-player4, .userscript-infoHandout .userscript-hpBarMax.userscript-player4{
    position: fixed;
    top: var(--barPosTopBottom);
    left: var(--barPosLeftPC4);
}

.userscript-infoHandout .userscript-initBorder{
    background-image:url(https://s3.amazonaws.com/files.d20.io/images/291777366/3YbIbemHbFxh1z9EC5J6zA/max.png);
}

.userscript-infoHandout .userscript-initBorder{
    width: var(--initBoxWidth);
    height: var(--initBoxHeight);
}

.userscript-infoHandout .userscript-initNew{
    animation: 1.5s fadeIn ease-in-out, 0.5s yourTurn 1s 2;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes yourTurn{
    0%{box-shadow: 0px 0px 0px 0px rgba(255, 215, 0, 0.30) inset  0px 0px 0px 0px rgba(255, 215, 0, 0.3);}
    50%{box-shadow: 0px 0px 17px 3px rgba(255, 215, 0, 0.30), inset  0px 0px 20px 3px rgba(255, 215, 0, 0.3);}
    100%{box-shadow: 0px 0px 0px 0px rgba(255, 215, 0, 0.30) inset  0px 0px 0px 0px rgba(255, 215, 0, 0.3);}
}

.userscript-infoHandout .userscript-initOld{
    animation: 1.5s fadeOut ease-in-out;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.userscript-infoHandout .userscript-initBorder.userscript-player0{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftGM);
}

.userscript-infoHandout .userscript-initBorder.userscript-player1{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC1);
}

.userscript-infoHandout .userscript-initBorder.userscript-player2{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC2);
}

.userscript-infoHandout .userscript-initBorder.userscript-player3{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC3);
}

.userscript-infoHandout .userscript-initBorder.userscript-player4{
    position: fixed;
    top: var(--initPosTopBottom);
    left: var(--initPosLeftPC4);
}

/*deathsaves*/
.userscript-infoHandout .userscript-deathsaves{
    width: var(--barwidth) !important;
    position:absolute;
    left:0px;
    top:-50px;
}

.userscript-infoHandout .userscript-deathsaves .userscript-successes>div{
    background-image:url(https://s3.amazonaws.com/files.d20.io/images/291981531/D78s0Erbqe5qDWpaZGNzfg/max.png);
    width: 30px;
    height:30px;
    background-size: 30px 30px;
    margin-right:-21px;
    position: relative;
}

.userscript-infoHandout .userscript-deathsaves .userscript-fails>div{
    background-image:url(https://s3.amazonaws.com/files.d20.io/images/291981530/jIeTiRzpxopYO6THvoCIJg/max.png);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin-left:-28px;
    transform: rotate(18deg);
    position: relative;
    left:8px;
}

/*adjust individual plavement up and down*/
.userscript-infoHandout .userscript-deathsaves .userscript-succ1{
    top: 3px;
}
.userscript-infoHandout .userscript-deathsaves .userscript-succ2{
    top: 5px;
}
.userscript-infoHandout .userscript-deathsaves .userscript-succ3{
    top: 7px;
}
.userscript-infoHandout .userscript-deathsaves .userscript-fail1{
    top: 0px;
}
.userscript-infoHandout .userscript-deathsaves .userscript-fail2{
    top: 1px;
}
.userscript-infoHandout .userscript-deathsaves .userscript-fail3{
    top: 2px;
}

/*animate in and out saves*/
.userscript-infoHandout .userscript-deathsaves .userscript-successes .userscript-inc{
    animation: .5s deathIn ease-in;
}
@keyframes deathIn {
    0% {opacity: 0; transform: scale(1.5,1.5);}
    100% {opacity: 1; transform: scale(1,1);}
}
.userscript-infoHandout .userscript-deathsaves .userscript-successes .userscript-dec{
    animation: 1s deathOut ease-out;
}
@keyframes deathOut {
    0% {opacity: 1; transform: scale(1,1);}
    100% {opacity: 0; transform: scale(1.5,1.5);}
}
.userscript-infoHandout .userscript-deathsaves .userscript-fails .userscript-inc{
    animation: .5s deathInT ease-in;
}
@keyframes deathInT {
    0% {opacity: 0; transform: scale(1.5,1.5) rotate(18deg);}
    100% {opacity: 1; transform: scale(1,1) rotate(18deg);}
}
.userscript-infoHandout .userscript-deathsaves .userscript-fails .userscript-dec{
    animation: 1s deathOutT ease-out;
}
@keyframes deathOutT {
    0% {opacity: 1; transform: scale(1,1) rotate(18deg);}
    100% {opacity: 0; transform: scale(1.5,1.5) rotate(18deg);}
}

.userscript-infoHandout .userscript-deathsaves .userscript-successes{
    position: absolute;
    top: 0px;
    left: 0px;
}
.userscript-infoHandout .userscript-deathsaves .userscript-fails{
    position: absolute;
    top: 0px;
    right: 0px;
}

/*dice floaties*/
.userscript-infoHandout .userscript-dicearea{
    width: var(--barwidth);
}

.userscript-infoHandout .userscript-diceareaorigin{
    position:absolute;
    /* left: calc(var(--initBoxWidth) / 15);
    bottom: calc(var(--initBoxHeight) / 3); */
    left: calc(var(--initBoxWidth) - 90px);
    bottom: calc(var(--initBoxHeight) - 20px);
}

.userscript-infoHandout .userscript-diceareaorigin.userscript-small{
    --dicepoolMulti: var(--slow);
}
.userscript-infoHandout .userscript-diceareaorigin.userscript-med{
    --dicepoolMulti: var(--med);
}
.userscript-infoHandout .userscript-diceareaorigin.userscript-large{
    --dicepoolMulti: var(--fast);
}
.userscript-infoHandout .userscript-diceareaorigin.userscript-vlarge{
    --dicepoolMulti: var(--veryfast);
}

.userscript-infoHandout .userscript-diceareaorigin .userscript-dice{
    width: 80px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3edd6;
    text-shadow: 3px 0px 5px #8f2623d8, 0px 3px 5px #8f2623d8, -3px 0px 5px #8f2623d8, 0px -3px 5px #8f2623d8;
    animation: dicefade cubic-bezier(0, 0.5, 0.5, 0.5), dicescale cubic-bezier( 0, 0.5, 0.75, 0.5 ), dicemove linear;
    animation-duration: calc(1s + 4s * var(--dicepoolMulti));
}
@keyframes dicefade {
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes dicescale {
    0%{
        font-size: 0.5em;
    }
    5%{
        font-size: 1.8em;
    }
    7%{
        font-size: 1.5em;
    }
    100%{
        font-size: 0.5em;
    }
}
@keyframes dicemove {
    0%{
        transform: translate(0px, 0px) rotate(0deg);
    }
    50%{
        transform: translate(5px, -40px) rotate(5deg);
    }
    75%{
        transform: translate(7.5px, -60px) rotate(45deg);
    }
    100%{
        transform: translate(10px, -80px) rotate(135deg);
    }
}
.userscript-infoHandout .userscript-dice.userscript-dice1{
    animation-delay: calc(1s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice2{
    animation-delay: calc(2s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice3{
    animation-delay: calc(3s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice4{
    animation-delay: calc(4s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice5{
    animation-delay: calc(5s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice6{
    animation-delay: calc(6s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice7{
    animation-delay: calc(7s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice8{
    animation-delay: calc(8s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice9{
    animation-delay: calc(9s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice10{
    animation-delay: calc(10s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice11{
    animation-delay: calc(11s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice12{
    animation-delay: calc(12s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice13{
    animation-delay: calc(13s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice14{
    animation-delay: calc(14s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice15{
    animation-delay: calc(15s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice16{
    animation-delay: calc(16s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice17{
    animation-delay: calc(17s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice18{
    animation-delay: calc(18s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice19{
    animation-delay: calc(19s * var(--dicepoolMulti));
}
.userscript-infoHandout .userscript-dice.userscript-dice20{
    animation-delay: calc(20s * var(--dicepoolMulti));
}

/*death filter*/
/*only dead*/
/* .userscript-infoHandout .userscript-deathfilter{
    width: var(--initBoxWidth);
    height: var(--initBoxHeight);
    background-color: rgba(48, 0, 0,0.2);
    box-shadow: inset  0px 0px 100px 8px rgba(48, 0, 0, .95)
}

.userscript-infoHandout .userscript-die{
    animation: 2s fadeIn ease-out;
}

.userscript-infoHandout .userscript-undie{
    animation: 2s fadeOut ease-in;
}

.userscript-infoHandout .userscript-deathfilter.userscript-player0{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC1);
}

.userscript-infoHandout .userscript-deathfilter.userscript-player1{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC1);
}

.userscript-infoHandout .userscript-deathfilter.userscript-player2{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC2);
}

.userscript-infoHandout .userscript-deathfilter.userscript-player3{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC3);
}

.userscript-infoHandout .userscript-deathfilter.userscript-player4{
    position: fixed;
    top: var(--initPosTopBottom);
    left: var(--initPosLeftPC4);
} */

/*death filter*/
/*dead and unconscious*/
.userscript-infoHandout .userscript-deathContainer{
    width: var(--initBoxWidth);
    height: var(--initBoxHeight);
}
/*set colours for dead and ko'd*/
.userscript-infoHandout .userscript-deathContainer.userscript-dead, .userscript-infoHandout .userscript-deathContainer.userscript-die{
    --newBacking: var(--bgDead);
    --newShadow: var(--shadowDead);
}
.userscript-infoHandout .userscript-deathContainer.userscript-dead{
    --oldBacking: var(--bgDead);
    --oldShadow: var(--shadowDead);
}
.userscript-infoHandout .userscript-deathContainer.userscript-die{
    --oldBacking: var(--bgKO);
    --oldShadow: var(--shadowKO);
}
.userscript-infoHandout .userscript-deathContainer.userscript-undie{
    --newBacking: var(--bgKO);
    --newShadow: var(--shadowKO);
    --oldBacking: var(--bgDead);
    --oldShadow: var(--shadowDead);
}
.userscript-infoHandout .userscript-deathContainer.userscript-unconscious, .userscript-infoHandout .userscript-deathContainer.userscript-godown, .userscript-infoHandout .userscript-deathContainer.userscript-getup{
    --newBacking: var(--bgKO);
    --newShadow: var(--shadowKO);
    --oldBacking: var(--bgKO);
    --oldShadow: var(--shadowKO);
}
.userscript-infoHandout .userscript-deathContainer.userscript-conscious{
    --newBacking: var(--bgKO);
    --newShadow: var(--shadowKO);
    --oldBacking: var(--bgKO);
    --oldShadow: var(--shadowKO);
}
/*changes in opacity*/
.userscript-infoHandout .userscript-deathContainer.userscript-conscious{
    --dsfOldOpacity: 0;
    --dsfNewOpacity: 0;
}
.userscript-infoHandout .userscript-deathContainer.userscript-godown{
    --dsfOldOpacity: 0;
    --dsfNewOpacity: 0.6;
}
.userscript-infoHandout .userscript-deathContainer.userscript-getup{
    --dsfNewOpacity: 0;
}
.userscript-infoHandout .userscript-dsfOld0{
    --dsfOldOpacity: 0.6;
}
.userscript-infoHandout .userscript-dsfNew0{
    --dsfNewOpacity: 0.6;
}
.userscript-infoHandout .userscript-dsfOld1{
    --dsfOldOpacity: 0.82;
}
.userscript-infoHandout .userscript-dsfNew1{
    --dsfNewOpacity: 0.82;
}
.userscript-infoHandout .userscript-dsfOld2{
    --dsfOldOpacity: 1;
}
.userscript-infoHandout .userscript-dsfNew2{
    --dsfNewOpacity: 1;
}
.userscript-infoHandout .userscript-deathContainer.userscript-die{
    --dsfOldOpacity: 1;
    --dsfNewOpacity: 1;
}
.userscript-infoHandout .userscript-deathContainer.userscript-dead{
    --dsfOldOpacity: 1;
    --dsfNewOpacity: 1;
}
.userscript-infoHandout .userscript-deathContainer.userscript-undie{
    --dsfNewOpacity: 0;
}
.userscript-infoHandout .userscript-deathContainer.userscript-undieFirst{
    --dsfOldOpacity: 1;
}
.userscript-infoHandout .userscript-deathContainer.userscript-undieContinue{
    --dsfOldOpacity: 0;
}
.userscript-infoHandout .userscript-deathContainer>.userscript-deathFilter{
    background-color: var(--newBacking);
    box-shadow: var(--newShadow);
    opacity: var(--dsfNewOpacity);
    animation: 2s deathFilter ease-in;
}
.userscript-infoHandout .userscript-deathContainer.userscript-godown>.userscript-deathFilter{
    animation: 0.5s opacityDelay linear, 2s deathFilter 0.5s ease-in;
}
@keyframes deathFilter{
    0%{
        background-color: var(--oldBacking);
        box-shadow: var(--oldShadow);
        opacity: var(--dsfOldOpacity);
    }
    100%{
        background-color: var(--newBacking);
        box-shadow: var(--newShadow);
        opacity: var(--dsfNewOpacity);
    }
}
@keyframes opacityDelay{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.userscript-infoHandout .userscript-deathContainer.userscript-player0{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC1);
}

.userscript-infoHandout .userscript-deathContainer.userscript-player1{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC1);
}

.userscript-infoHandout .userscript-deathContainer.userscript-player2{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC2);
}

.userscript-infoHandout .userscript-deathContainer.userscript-player3{
    position: fixed;
    top: var(--initPosTopMain);
    left: var(--initPosLeftPC3);
}

.userscript-infoHandout .userscript-deathContainer.userscript-player4{
    position: fixed;
    top: var(--initPosTopBottom);
    left: var(--initPosLeftPC4);
}

/*Dice Box*/
.userscript-infoHandout .userscript-dicebox{
    position: fixed;
    top: var(--diceBoxTop);
    left: var(--diceBoxLeft);
    width: var(--diceBoxWidth);
    height: var(--diceBoxHeight);
    padding:6px 18px;
    overflow: hidden;
}
/*Jukebox*/
.userscript-infoHandout .userscript-nowplaying{
    display: block;
    width: calc(var(--diceBoxWidth) * 0.75);
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 6px 12px;
    border: 1px solid #404040;
    animation: 2s popdown 6s ease-in-out forwards, 2s popdown 14s ease-in-out forwards reverse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@keyframes popdown{
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
        transform: translateY(-75px);
    }
    100%{
        opacity: 1;
        transform: translateY(5px);
    }
}
.userscript-infoHandout .userscript-nowplaying .userscript-musictitle::before{
    content: "Now Playing";
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #a0a0a0;
    font-size: 0.5em;
    display: block;
    padding-top: 1px;
    line-height: 14px;
}
.userscript-infoHandout .userscript-nowplaying .userscript-musictitle{
    color: #7e2d40;
    font-size: 22px;
    font-variant: small-caps;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 24px;
    font-family: "Times New Roman", Times, serif;
}